
<ul class="nav flex-column timeslip_list">
    <li class="nav-item">
        <a class="nav-title">Timeslips</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addtimeslip" href="">Add Timeslip</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" href="">Calendar View</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewalltimeslips" href="">All Timeslips</a>
    </li>
</ul>    

<ul class="nav flex-column manage_list">   
    <li class="nav-item">
      <a class="nav-title">Manage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewallprojects" href="">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/viewallwbis" href="">WBI's</a>
    </li>
</ul>

