.nav{
    margin-top: 8em;
    
}
.nav a{
    color: #fff;
    padding: 12px 10px;
}

.nav hr{
    background-color: #9d9d9d
}

.dropdown-menu .dropdown-item{
    color: #000;
}

.logout{
    margin-top: 14em;
}

.active{
    color: rgb(155, 205, 231)!important;
}

.dropdown-menu{
    background-color: #E8E8E8;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff;
}