
  <div  class="row main_content">
      <div class="col-md-1 pr-0"></div>
      <div class="col-md-4 custom_day_form">
        <form #form="ngForm" (ngSubmit)="addToTemplate()">
            <h3 class="text-center timeslip-header">New Timeslip Template</h3>
            <hr>
            <div class="form-group clearfix">
              <div id="start_time"class="border-right">
                <label for="start_time">Start Time:</label>
                <ngb-timepicker (click)="onStartTimeChange()" size="small" name="startTime" [(ngModel)]="TodaystartTime" [meridian]="meridian"></ngb-timepicker>
              </div>
              <div id="end_time">
                <label for="end_time">End Time:</label>
                <ngb-timepicker (click)="onEndTimeChange()" size="small" name="endTime" [(ngModel)]="TodayendTime" [meridian]="meridian"></ngb-timepicker>
              </div>
              <div id="bind_controls_checkbox">
                <label for="bind_controls_cb">Bind Time Controls</label>
                <input (change)="onCheckboxChange()" type="checkbox" name="bind_controls_cb" [(ngModel)]="controlsAreBinded">
              </div>
            </div>
          <div class="form-group">
            <label for="project">Project:</label>
            <ng-select *ngIf="!searchWBIs" [items]="projectList"
            bindLabel="newName"
            bindValue="newProjectId"
            [(ngModel)]="selectedProject"
            (change)="changeProject()"
            name = "projectList"
            ng-selected="projectList"
            required ngModel
            [disabled]="projectDisabled"
            >
            </ng-select>
            <p *ngIf="searchWBIs">{{selectedProject}}</p>
          </div>
          <div class="form-group wbi_search_group border p-2">
            <label for="wbi">WBI:</label>
            <ng-select 
            [items]="wbiList"
            bindLabel="newName"
            bindValue="newChangeRequestId"
            [(ngModel)]="selectedWBI"
            name = "wbiList"
            (change)="locateProject()"
            required ngModel
            [disabled]="WBIDisabled"
            open
            ></ng-select>
            <!-- <popup>Success!</popup> -->
            <label class="pt-2" for="searchString">Search WBI:</label>
            <div class="input-group">
              <input type="search" class="form-control"  [(ngModel)]="searchString" name="searchString">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchWBI()" [disabled]="searchDisabled">
                  Search
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="remark">Remarks:</label>
            <input type="text" class="form-control" id="customdayRemark" placeholder="Enter remarks"
            name="remark" [(ngModel)]="newEventTitle" 
            >
          </div>
          
          <div class="form-group text-left clearfix mt-2">
            <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="(!form.valid || confirmDisabled)"
            
           >
            Add Template
            </button>
            <button type="button" class="btn btn-outline-info" (click)="ClearAllEvents()">Clear</button>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <h3 class="text-center timeslip-header">Time View</h3>
        <hr>
        <div class="custom_day_view_container custom_day_scroll" id="day_view_scroll">
            <div [ngSwitch]="view">
                <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                  [dayStartHour]="0"
                  [dayEndHour]="24"
                  >
                </mwl-calendar-day-view>
            </div>
        </div> 
      </div>
      
      <div class="col-md-3 custom_day_section">
        <form>
          <div class="form-group">
            <h3 class="text-center timeslip-header">Edit Custom Day</h3>
            <hr>
            <form>
              <div class="form-group" *ngIf="!customDayId">
                <label for="customdaylist">Select custom day:</label>
                <ng-select
                id="customdaylist"
                [items]="customdayList"
                bindLabel="name"
                bindValue="customDayId"
                [(ngModel)]="selectedCustomday"
                (change)="getThisCustomDay()"
                name="customDayList">
                </ng-select>
                
              </div>
              
            </form>
            <div *ngIf="customDayNameEmpty" class="alert alert-danger"> Please choose a Custom Day to edit.</div>
            <hr>
              <label for="customDayName">Name:</label>
              <input *ngIf="!customDayId" 
              type="text" class="form-control" id="customDayName" placeholder="Enter name"
              name="customDayName" [(ngModel)]="customDayName"
              >
              
              <p *ngIf="customDayId">{{customDayName}}</p> 
          </div>
          <div class="form-group">
              <label for="customDayDescription">Description:</label>
              <input 
              *ngIf="!customDayId" 
              type="text" class="form-control" id="customDayDescription" placeholder="Enter description"
              name="customDayDescription" [(ngModel)]="customDayDescription"
              >
              <p *ngIf="customDayId">{{customDayDescription}}</p>
          </div>
          <div class="form-group">
            <button
            class="btn btn-outline-success"
            (click)="confirmAndReturn(); refresh.next()"
            [disabled]="confirmDisabled">
            Confirm
            </button>
            <button *ngIf="selectedCustomday" class="btn btn-danger"(click)="this.modalService.open(this.confirmDelete)" > Delete </button>            
          </div>
        </form>
      </div> 
</div>


<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Edit Timeslip Template</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-group">
          <label for="project">Project:</label>
          {{EditProjectName}}
        </div>
        <div class="form-group">
          <label for="wbi">WBI:</label>
          {{EditWBIName}}
        </div>
        <div class="form-group">
          <label for="remark">Remark:</label>
          <input type="text" class="form-control" id="" placeholder="Enter remarks"
          name="remark" [(ngModel)]="EditRemark">
      </div>
        <div class="form-group">
            <label for="start_time">Start Time:</label>
            <ngb-timepicker [(ngModel)]="EditStartTime" [meridian]="meridian" name="editStartTime"></ngb-timepicker>
        </div>

        <div class="form-group">
            <label for="end_time">End Time:</label>
            <ngb-timepicker  [(ngModel)]="EditEndTime" [meridian]="meridian" name="editEndTime"></ngb-timepicker>
        </div>

        <button
        class="btn btn-outline-success"
        (click)="confirmEdit(); refresh.next();close()">
        Confirm
        </button>
        <button type="button" class="btn btn-outline-info"(click)="close()" >Cancel</button>
      </form>
    </div>
  </ng-template>

  <!-- modal: -->
  <ng-template #searchSuccess let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #809fff">
      <h4 class="modal-title">Search WBI</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>WBI(s) found! Please select your WBI from the dropdown list.</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #searchFail let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #ff8080">
      <h4 class="modal-title">Search WBI</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>No WBI found.</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <ngx-spinner bdColor = "rgba(75,59,58,0.8)" size = "medium"color = "#fff"type = "pacman"></ngx-spinner>

  <ng-template #confirmDelete let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #ff8080">
      <h4 class="modal-title">{{id}} Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this Custom Day?</p>
    </div>
    <button type="button" class="btn btn-light" (click)="deleteCustomDay();c('Close click')">Yes</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
  </ng-template>