<div class="row main-content">
    <div class="col-md-4 offset-md-4">
        <form>
            <div class="form-group">
                <label for="customDayName">Custom day name:</label>
                <input type="text" class="form-control" id="customDayName" placeholder="enter name"
                name="customDayName" [(ngModel)]="customDayName"
                >
                <div *ngIf="!nameNotEmpty" class="alert alert-danger"> Custom Day name should not Be Empty!</div>
            </div>
            <div class="form-group">
                <label for="customDayDescription">Custom day description:</label>
                <input type="text" class="form-control" id="customDayDescription" placeholder="enter description"
                name="customDayDescription" [(ngModel)]="customDayDescription"
                >

                <div *ngIf="!descriptionNotEmpty" class="alert alert-danger"> Custom Day Description should not Be Empty!</div>
            </div>
            <div class="form-group">
            <button  class="btn btn-outline-success" (click)="createCustomday()">Continue</button>
            </div> 
        </form>
    </div>
</div>
