 
  <div class="row  main-content" *ngIf="newEventForm">
    <div class="col-12">
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td> 
                  <label for="project" class="col-2 col-form-label">Project</label>
                  <div class="col-12">
                      <ng-select [items]="projectList"
                      bindLabel="newName"
                      bindValue="newProjectId"
                      [(ngModel)]="selectedProject"
                      (click)="changeProject()">
                      </ng-select>
                  </div>
                  <label for="wbi" class="col-2 col-form-label">WBI</label>
                  <div class="col-12">
                      <ng-select [items]="wbiList"
                      bindLabel="newRemarks"
                      bindValue="newChangeRequestId"
                      [(ngModel)]="selectedWBI">
                      </ng-select>
                    <input  class="form-control" type="text"  id="wbi" value="{{selectedProject}}" disabled="disabled">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <textarea 
                    class="form-control" 
                    rows="5" 
                    id="description"
                    [(ngModel)]="newEvent[0].title"
                    (keyup)="refresh.next()"
                    ></textarea>
                  </div>   
                </td>
                <td>
                  <calendar-utils-date-time-picker
                    [(ngModel)]="newEvent[0].start"
                    (ngModelChange)="refresh.next()"
                    placeholder="Not set">
                  </calendar-utils-date-time-picker>
                </td>
                <td>
                  <calendar-utils-date-time-picker
                    [(ngModel)]="newEvent[0].end"
                    (ngModelChange)="refresh.next()"
                    placeholder="Not set">
                  </calendar-utils-date-time-picker>
                </td>
                <td>
                    <button
                    class="btn btn-success"
                    (click)="confirmAddEvent(); refresh.next()">
                    Confirm
                  </button>
                  <br> <br> <br> <br>
                  <button
                    class="btn btn-danger"
                    (click)="cancelAddEvent()">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>   
  </div> 

  <!-- Start Model -->
  <div class="row">
    <div class="col-12 main-content">
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="remark">Remark:</label>
                <input type="text" class="form-control" id="" placeholder="Enter remarks"
                name="remark" [(ngModel)]="EditRemark">
            </div>
            <div class="form-group">
              <label for="project">Project:</label>
              {{EditProjectName}}
            </div>
            <div class="form-group">
              <label for="wbi">WBI:</label>
              {{EditWBIName}}
            </div>

            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <ngb-timepicker [(ngModel)]="EditStartTime" [meridian]="meridian" name="editStartTime"></ngb-timepicker>
            </div>

            <div class="form-group">
                <label for="end_time">End Time:</label>
                <ngb-timepicker [(ngModel)]="EditEndTime" [meridian]="meridian" name="editEndTime"></ngb-timepicker>
            </div>

            <button
            class="btn btn-success"
            (click)="confirmEdit(); refresh.next();close()">
            Finish
            </button>
            <button type="button" class="btn btn-outline-info"(click)="close()" >Clear</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
        </div>
      </ng-template>
            
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
              >
              <!-- (viewDateChange)="skipWeekends('back')" -->
              Previous
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Today
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
              >
              <!-- (viewDateChange)="skipWeekends('forward')" -->
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="view = 'month'"
              [class.active]="view === 'month'">
              Month
            </div>
            <div
              class="btn btn-primary"
              (click)="view = 'week'"
              [class.active]="view === 'week'">
              Week
            </div>
            <div
              class="btn btn-primary"
              (click)="view = 'day'; scrollTo();"
              [class.active]="view === 'day'">
              Day
            </div>
          </div>
        </div>
      </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (dayClicked)="viewDate = $event.day.date; view = 'day'"
          >
          
           <!-- [excludeDays]="excludeDays" -->
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"     
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
          (dayClicked)="viewDate = $event.day.date; view = 'day'">
          <!-- [excludeDays]="excludeDays" -->
        </mwl-calendar-week-view>
        <div class="row add_timeslip_main_content">
          <div class="col-md-1 pr-0"></div>
          <div class="col-md-3 pl-0">
              <div class="
              add_timeslip_scroll" id="day_view_scroll">
                  <!-- <h1>My TimeSlips</h1> -->
                  <mwl-calendar-day-view
                  id="add_timeslip"
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                  [dayStartHour]="0"
                  [dayEndHour]="24"
                  >
                  </mwl-calendar-day-view>
              </div>
          </div>
          <div *ngSwitchCase="'day'" class="col-md-4 add_timeslip_day_form border-right">
            <form>
                <!-- <div class="form-group">
                    <label for="customDayName">customDayName:</label>
                    <input type="text" class="form-control" id="customDayName" placeholder="Enter custom Day Name"
                    name="customDayName" [(ngModel)]="customDayName"
                    >
                </div> -->
                <!-- <div class="form-group">
                    <label for="customDayDescription">customday description:</label>
                    <input type="text" class="form-control" id="customDayDescription" placeholder="Enter custom Day Description"
                    name="customDayDescription" [(ngModel)]="customDayDescription"
                    >
                </div> -->

                <h3 class="text-center">Create New Timeslip</h3>
                <hr>
                <div class="form-group">
                    <label for="remark">Remarks:</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Please enter your remarks"
                    name = "quickRemarks"
                    [(ngModel)]="quickRemarks"
                    >
                </div>

                <div class="form-group">
                  <label for="project">Project:</label>
                  <ng-select *ngIf="!searchWBIs" [items]="projectList"
                  bindLabel="newName"
                  bindValue="newProjectId"
                  [(ngModel)]="selectedProject"
                  (change)="changeProject()"
                  name = "projectList"
                  ng-selected="projectList"
                  >
                  </ng-select>
                  <p *ngIf="searchWBIs">{{selectedProject}}</p>
                </div>
                <div class="form-group  wbi_search_group border p-2">
                    <label for="wbi">WBI:</label>
                    <ng-select 
                    [items]="wbiList"
                    bindLabel="newRemarks"
                    bindValue="newChangeRequestId"
                    [(ngModel)]="selectedWBI"
                    name = "wbiList"
                    (change)="locateProject()"
                    ></ng-select>
            
                  <label class="pt-2" for="searchString">Search WBI:</label>
                  <div class="input-group">
                      <input type="search" class="form-control"  [(ngModel)]="searchString" name="searchString">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" (click)="searchWBI()">
                            Search
                          </button>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <div id="start_time"class="border-right">
                      <label for="start_time">Start Time:</label>
                      <ngb-timepicker size="small" name="startTime" [(ngModel)]="startTime" [meridian]="meridian" class="startTime"></ngb-timepicker>        
                  </div>
        
                  <div id="end_time">
                      <label for="end_time">End Time:</label>
                      <ngb-timepicker size="small" name="endTime" [(ngModel)]="endTime" [meridian]="meridian" class="endTime"></ngb-timepicker>       
                    </div>
                </div>
                <div class="form-group text-left clearfix mt-2">
                  <button
                  class="btn btn-outline-success"
                  (click)="AddNewTimeSlip()">
                  Add Timeslip
                  </button>
                  <button type="button" class="btn btn-outline-info" (click)="ClearAllEvents()">Clear</button>
                </div>
                <!-- <div class="form-group">
                  <button
                  class="btn btn-success"
                  (click)="confirmAndReturn(); refresh.next()">
                  Create
                  </button>            
                </div> -->
            </form>
          </div>
          <div *ngSwitchCase="'day'" class="col-md-3 custom_day_section alert alert-info">
            <h3 class="text-center pb-2"> Select Custom Day</h3>
            <hr>
            <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'mediumDate' }}</strong>
                <label for="customdayList" class="pt-2">Use custom day:</label>             
                  <ng-select [items]="customdayList"
                  name="customdayList"
                  bindLabel="name"
                  bindValue="customDayId"
                  [(ngModel)]="selectedCustomday"
                  (change)="showFakeCalendar()">
                  </ng-select> 

                <button *ngIf="selectedCustomday"
                class="btn btn-warning mt-3"
                (click)="confirmAddCustomDay(); refresh.next()">
                Confirm
              </button>            
          </div>      
      </div>
    </div>   
  </div>
</div>
