.navigation{
    padding: 0;
    position: fixed;
    min-width: 100%;
    min-height: 50px;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-content{
    margin-top: 1em;
}

.add_timeslip_scroll{
    height: 600px;
    overflow-x: scroll;
}

.add_timeslip_day_form{
    height: 600px;
}

.wbi_search_group{
    background-color: #F7FFE6
}

#start_time, #end_time{
    width: 50%;  
    float: left;
}

#end_time{
    padding-left: 15px;
}

.custom_day_section{
    height: 300px;
}
















