<div class="container">
  <div class="row">
    <div class="col-8 offset-md-2 content">
        <form>
            <div class="form-group">
              <label for="tag">Tag:</label>
                <ng-select [dropdownPosition]="'down'"
                id="tag"
                [searchable]="true"
                [items]="tags">
                </ng-select>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <ngbd-datepicker-popup></ngbd-datepicker-popup>
            </div>
            <div class="form-group">
                <ngbd-timepicker></ngbd-timepicker>
            </div>
       
            <div class="form-group">
              <label for="projects">Project:</label>
                <ng-select [dropdownPosition]="'down'"
                id="projects"
                [searchable]="true"
                [items]="projects">
                </ng-select>
            </div>

            <div class="form-group">
              <label for="wbis">WBI:</label>
                <ng-select [dropdownPosition]="'down'"
                id="wbis"
                [searchable]="true"
                [items]="wbis">
                </ng-select>
            </div>
      
        </form>
    </div>
  
      
  </div>
</div>

