<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="stylesheet" href="./layui/layui/css/layui.css">
<script src="./layui/layui/layui.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />
<div class="container-fluid">
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-x2-2 side_bar">
            <app-side-bar> </app-side-bar>
    </div>              
    <div class="col-md-10 offset-md-2 main-content">
            <router-outlet> </router-outlet>
    </div> 
</div>                  


