<div class="row main-content">
  <div class="col-md-4 offset-md-4">
    <h1 class="text-center">Create WBI</h1>
    <form  #f="ngForm">
      <div class="form-group">
        <label for="project">Project:</label>
        <ng-select [items]="projectList"
        bindLabel="newName"
        bindValue="newProjectId"
        [(ngModel)]="newWBI.ProjectId"
        name = "projectList">
        </ng-select>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input name="description" [(ngModel)]="newWBI.Description" type="text" class="form-control" id="description" placeholder="">
      </div>   

      <div class="form-group row">
        <label for="estHours" class="col-2 col-form-label">Est. Hours:</label>
        <div class="col-4">
          <input name="estHours" [(ngModel)]="newWBI.EstimatedHours" class="form-control" type="number" value="0" id="example-number-input">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success" (click)="createWBI(f, newWBI)">Submit</button>
      <button type="button" class="btn btn-outline-info" (click)="onClear(f)">Clear</button>
    </form>  
  </div>
</div>        

  
  
  
