<!-- <p>
  <tr *ngFor="let project of projectList">
    <td>{{project.newName}}</td><td> 
      <button type="button"
      (click)="getOneProject(project.newProjectId)">detail
      </button>
      <button type="button"
      (click)="deleteOneProject(project.newProjectId)">delete
      </button>     
  </td>
  </tr>
  <br> -->

<!-- {{oneProject.newName}}<br>
{{oneProject.newStartDate}} -->
  <!-- <p>project Name: <input type="text"
    name="Name"
    [(ngModel)]="newProject.Name" /></p> -->

    <!-- <p>StartDate: <input type="text"
      name="StartDate"
      [(ngModel)]="newProject.StartDate" /></p> -->

      <!-- <p>EndDate: <input type="text"
        name="EndDate"
        [(ngModel)]="newProject.EndDate" /></p> -->

        <!-- <p>ProjectType: <input type="text"
          name="ProjectType"
          [(ngModel)]="newProject.ProjectType" /></p> -->

          <!-- <button type="button"
          (click)="createProject(newProject)">Submit</button> -->


<!-- </p> -->


<!-- <br>
One project Detail
<br>
<p>project Name: <input type="text"
  name="Name"
  [(ngModel)]="oneProject.newName" /></p>

  <p>StartDate: <input type="text"
    name="StartDate"
    [(ngModel)]="oneProject.newStartDate" /></p>

    <p>EndDate: <input type="text"
      name="EndDate"
      [(ngModel)]="oneProject.newEndDate" /></p>
        <button type="button"
        (click)="updateProject(oneProject)">Submit</button> -->
        
<div class="row main-content">
  <div class="col-md-4 offset-md-4">
    <h1 class="text-center">Create Project</h1>
    <form  #f="ngForm">
      <div class="form-group">
        <label for="project">Project Name:</label>
        <input 
        type="text" 
        class="form-control" 
        id="project" 
        placeholder="project name"
        name="project"
        [(ngModel)]="newProject.Name"
        required
        >
      </div>
      <div class="form-group">
        <label for="client">Client:</label>
          <select  name="client" [(ngModel)]="newProject.Client" class="form-control" required>
              <option *ngFor="let client of clientList" value="{{client.accountId}}">{{client.name}}</option>                       
          </select>
      </div>

      <div class="form-group">
          <label for="start_date">Start Date:</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                  name="start_date" [(ngModel)]="newProject.StartDate" ngbDatepicker #d1="ngbDatepicker" required>
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
              <img src="../../assets/img/calendar.svg" style="width: 2rem; height: 2rem; cursor: pointer;"/>
              </button>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="end_date">End Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="end_date"
            [(ngModel)]="newProject.EndDate" ngbDatepicker #d2="ngbDatepicker" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <img src="../../assets/img/calendar.svg" style="width: 2rem; height: 2rem; cursor: pointer;"/>
                </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="project_type">Project Type:</label>
            <select  name="project_type" [(ngModel)]="newProject.ProjectType" class="form-control" required>
                <option *ngFor="let projectType of projectTypeList" value="{{projectType.newProjectTypeId}}">{{projectType.newName}}</option>                       
            </select>
        </div>
     

      <button type="button" class="btn btn-outline-success" (click)="createProject(f,newProject)" [disabled]="!f.valid">Submit</button>
      <button type="button" class="btn btn-outline-info" (click)="onClear(f)">Clear</button>
    </form>  
  </div>
</div>        



