/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}   

.content{
    margin-top: 1em;
   
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

mwl-calendar-day-view{
    padding: 25px;
}

.cal-day-view .cal-hour-rows{
    overflow-x: hidden;
    overflow-y: hidden;
}

#add_timeslip > .cal-day-view .cal-hour-rows {
    width: 100%;
    height: 100%;
}


#custom_day > .cal-day-view .cal-time {
    font-size: 10px;
} 

#custom_day > .cal-day-view .cal-hour-rows {
    width: 100%;
    height: 100%;
}


#custom_day > .cal-day-view .cal-time {
    font-size: 10px;
} 

.cal-month-view .cal-day-badge {
    background-color: rgb(30, 144, 255);
}

